header {
    position: relative; 
    
  }
  
  #myButt {
    position: absolute; 
    top: 0; 
    right: 0; 
    margin: 10px; 
    cursor: pointer;
  }
  

.container {
    display: flex;
    justify-content: space-between;
    
    
  }
  
  .card {
    width: 18%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    
    
  }
  
  .card img {
    width: 50%;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    
  }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 800px;
    border-radius: 5px;
  }

  .modal img {
    width: 50%;
    border-radius: 5px;
    margin-bottom: 10px;

 }
 del {
    text-decoration: line-through;
    background-color: #fbb;
    color: #555;
}

ins {
    text-decoration: none;
    background-color: #d4fcbc;
}

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  
.add-button {
  cursor: pointer;
}

.cart-modal {
  align-items: center;
  min-height: 300px;
  max-height: 400px;
}

.cart-container {
  width: 90%;
  height: 90%;
}

.cart-item-content {
  position: relative;
  top: 50px;
  display: flex;
  height: 110px;
  align-items: center;
}

#cart-item-image {
  width: 150px;
  height: 100px;
}

.cart-item-button {
  height: 70px;
  cursor: pointer;
}

.cart-esc-button {
  float: right;
  height: 50px;
  width: 200px;
  cursor: pointer;
}

.badge {
  position: absolute;
  left: -10px;
  top: -10px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.cart-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}