* {
    margin: 2%;
    background-color: antiquewhite;
}
.top-page {
    background-color: #fcf4ad;
    position: relative;
    top: 15%;
    font-weight: 300;
    border-color: beige;
    border-width: 30px;
}

.sub-header {
    background-color: #fcf4ad;
    text-decoration: wavy;
    font-style: italic;
    font-size: small;
}

#logo {
    background-color: #fcf4ad;
    position: relative;
    left: 25%;
}


header {
    padding: 4%;
    display: grid;
    grid-template-columns: auto auto;
    left: auto;
    right: auto;
    width: 88%;
}

footer {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    
}

footer > * {
    background-color: #60584e;
    color: blanchedalmond;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    overflow: auto;
}
  
.navbar li {
    float: left;
}
  
li button {
display: block;
background-color: burlywood;
color: #2F2F0E;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
  
li button:hover {
    background-color: #CBCB01;
}

main {

    padding-top: 7%;
}

.showcase {
    padding: 1px;
    margin-bottom: 5%;
}

.showcase h3 {
    text-align: center;
    height: fit-content;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.card-item ul, li {
    background-color: #d8be4c;
}

div.card-item {
    border-style: solid;
    border-width: 4px;
    border-color: #53491a;
    border-radius: 6px;
    background-color: #d8be4c;    
}

.card-item img {
    border-radius: 7%;
}

div.cart{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transparent-side-panel {
    background-color: #9d87462b;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 50%;
    height: 100%;
}

.cart-side-panel {
    background-color: #faebd7;
    position: absolute;
    right: 0%;
    top: 0%;
    width: 50%;
    height: 100%;
}

.side-panel {
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: fixed;
    top: 0%;
    right: 0%;
}

.cart-btn:hover {
    cursor: pointer;
}

/**Media query per gestire il resize e gli schermi piccoli */
@media only screen and (max-width: 600px) {
    #sub-header {
        display: none;
    }
    .navbar ul{
        display: grid;
        list-style-type: none;
        padding: 0;
    }

    .navbar li {
        padding-top: 2px;
        padding-bottom: 2px;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .navbar button{
        height: 3px;
    }
}