* {
    margin: 0%;
    background-color: antiquewhite;
}

.top-page {
    background-color: #fcf4ad;
    position: relative;
    top: 15%;
    font-weight: 300;
    border-color: beige;
    border-width: 30px;
}

.sub-header {
    background-color: #fcf4ad;
    text-decoration: wavy;
    font-style: italic;
    font-size: small;
}

#logo {
    background-color: #fcf4ad;
    position: relative;
    left: 25%;
}


header {
    padding: 4%;
    display: grid;
    grid-template-columns: auto auto;
    left: auto;
    right: auto;
}


#top-cart-btn > img {
    background-color: darkorange;
}
#top-cart-btn > div {
    background-color: darkorange;
}

#top-cart-btn {
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 6%;
    height: 6%;
    border-radius: 65%;
    background-color: darkorange;
}

footer {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    
}

footer > * {
    background-color: #60584e;
    color: blanchedalmond;
}

ul.navbar {
    display: flex;
    list-style-type: none;
    padding: 0%;
    overflow: auto;
    justify-content: space-evenly;
}
  
.navbar li {
    float: left;
}
  
li button {
display: block;
background-color: burlywood;
color: #2F2F0E;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
  
li button:hover {
    background-color: #CBCB01;
}

main {

    padding-top: 7%;
}

.showcase {
    padding: 1px;
    margin-bottom: 5%;
}

.showcase h3 {
    text-align: center;
    height: fit-content;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.card-item ul, li  {
    background-color: #d8be4c;
}

div.card-item {
    border-style: solid;
    border-width: 4px;
    border-color: #53491a;
    border-radius: 6px;
    background-color: #d8be4c;    
}

div.cart{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card-item img {
    border-radius: 7%;
}
/**##########################Carrello####################################### */

ul.cart-list {
    width: 100%;
    list-style: none;
    padding-left: 0%;
    background-color: #fcf4ad;
}

.cart-item {
    padding-bottom: 3%;
    border-width: 2px;
    border-style: ridge;
    /* display: grid; */
    grid-template-columns: repeat(3, 1fr);
}

.cart-container {
    background-color: beige;
    position: fixed;
    top: 0%;
    right: 0%;
    width: fit-content;
    height: 100%;
    transition: 5s;
    margin-right: 0%;

}

.cart-id {
    border-style: solid;
    border-width: 2px;
}

.hidden-cart {
    display: none;
}

.transparent {
    background-color: transparent;
}

.cart-empty-side {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 67%;
    height: 100%;
    margin-left: 0%;
}

.cart.header > th {
    background-color: aqua;
    text-align: center;
    text-justify: newspaper;
    text-transform: lowercase;
    font-weight:900;
}

.cart-total {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: greenyellow;
    color: #2F2F0E;
}
/**################################fine Carrello#####################*/

/**Media query per gestire il resize e gli schermi piccoli */
@media only screen and (max-width: 600px) {
    #sub-header {
        display: none;
    }
    .navbar ul{
        display: grid;
        list-style-type: none;
        padding: 0;
    }

    .navbar li {
        padding-top: 2px;
        padding-bottom: 2px;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .navbar button{
        height: 3px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr, auto);
    }
}