* {
    margin: 0;
    background-color: antiquewhite;
}

.top-page {
    font-weight: 300;
    text-align: center;
    
}

.sub-header {
    text-decoration: wavy;
    font-style: italic;
    font-size: small;
}
